
.getStarted-box{
    position: relative;
}
.best-decision{
    width: 255px;
    position: absolute;
    top: 110px;
    right: 5%;
}

.content-writer{
    width: 230px;
    text-align: center;
    position: absolute;
    right: 25%;
    top: 80%;
}
.content-writer img{
    margin: 0 auto;
}
.content-writer i{
    color: #FFC46B;
}

.service{
    height: 240px;
    position: relative;
}
.service-id{
    position: absolute;
    top:-15px;
    right:-10px;
    background: #DEF5FF;
    color: #51C9FF;
    padding: 10px 12px;
    border-radius: 50%;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .getStarted-box{
        position: relative;
    }
    .best-decision{
        width: 255px;
        position: absolute;
        top: 150px;
        right: -10%;
    }
    .content-writer{
        width: 230px;
        text-align: center;
        position: absolute;
        right: 2%;
        top: 80%;
    }
    
  }
@media only screen and (max-width: 1923px) {
    
    .started-img{
        display: flex;
        justify-content: center;
    }
    
  }