.contact-form{
    background-color: #51C9FF;
    padding: 40px 0;
}
.contact-form .input-field input{
    padding: 10px;
    margin:10px 10px;
    width: 45%;
    border-radius: 10px;
}
.contact-form textarea{
    width: 94%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    
    .contact-form .input-field input{
        width: 100%;
        margin-right: 30px;
    }
    .contact-form textarea{
        width: 100%;
    }
    
  }